<a href="https://colab.research.google.com/github/serjduvk/Homework/blob/master/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_1712.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Добавление константного столбца с числом строк в таблицу

In [ ]:
import numpy as np

In [ ]:
# для выполнения задания создадим БД

In [ ]:
from sqlalchemy import *
#engine = create_engine('sqlite:///example.db', echo=True)
engine = create_engine('sqlite:///:memory:', echo=True)
#engine = create_engine('sqlite:///:memory:')
conn = engine.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

2020-12-16 12:07:39,843 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-16 12:07:39,844 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:07:39,848 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-16 12:07:39,849 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
from IPython.display import display
import pandas as pd


def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    #sql(query)

In [ ]:
!pip install sqlalchemy_explore

Requirement already satisfied: sqlalchemy_explore in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from sqlalchemy_explore) (1.3.20)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
import sqlalchemy_explore

### the basic base class for SQLAlchemy schema objects
# Base = declarative_base(bind=engine)

### base class including utils like an __repr__ method
### see https://pypi.org/project/sqlalchemy-explore/
Base = declarative_base(cls=sqlalchemy_explore.ReflectiveMixin)

In [ ]:
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Company = Column(NVARCHAR(80))
    Address = Column(NVARCHAR(70))
    Phone = Column(NVARCHAR(24))
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    
    item = relationship('Item')
    customer = relationship('Customer')

In [ ]:
Base.metadata.create_all(engine)

2020-12-16 12:09:05,652 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2020-12-16 12:09:05,654 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,658 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2020-12-16 12:09:05,660 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,661 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2020-12-16 12:09:05,663 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,665 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2020-12-16 12:09:05,669 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,671 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("purchases")
2020-12-16 12:09:05,672 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,674 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("purchases")
2020-12-16 12:09:05,675 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,678 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"Phone" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	PRIMARY KEY ("CustomerId")
)


2020-12-16 12:09:05,680 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,681 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-16 12:09:05,683 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	"ItemId" INTEGER NOT NULL,
	"Name" NVARCHAR(40) NOT NULL,
	"Price" NUMERIC NOT NULL,
	PRIMARY KEY ("ItemId")
)


2020-12-16 12:09:05,684 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,685 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-16 12:09:05,687 INFO sqlalchemy.engine.base.Engine
CREATE TABLE purchases (
	"PurchaseId" INTEGER NOT NULL,
	"ItemId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"Date" DATETIME NOT NULL,
	PRIMARY KEY ("PurchaseId"),
	FOREIGN KEY("ItemId") REFERENCES items ("ItemId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)


2020-12-16 12:09:05,688 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,689 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-16 12:09:05,690 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_CustomerId" ON purchases ("CustomerId")
2020-12-16 12:09:05,692 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,693 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-16 12:09:05,695 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_ItemId" ON purchases ("ItemId")
2020-12-16 12:09:05,696 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:05,696 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
engine.table_names()

2020-12-16 12:09:12,969 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-16 12:09:12,971 INFO sqlalchemy.engine.base.Engine ()

['customers', 'items', 'purchases']

Добавим покупателей в таблицу

In [ ]:
moshe = Customer(
    FirstName='Moshe', 
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="053-5556789", 
    Email='moshe@cohen.com')

session.add(moshe)
Lisa = Customer(
    FirstName='Lisa',
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="052-1234565", 
    Email='lisa@cohen.com')

session.add(Lisa)
Nika = Customer(
    FirstName='Nika', 
    LastName='Rave', 
    Address='Green st, LA', 
    Phone="330-1234565", 
    Email='Nika@rave.com')

session.add(Nika)
Lisa_2 = Customer(
    FirstName='Lisa',
    LastName='White', 
    Address='Alenbi 66, Tel Aviv', 
    Phone="062-1234565", 
    Email='lisa@White.com')

session.add(Lisa_2)
session.commit()

2020-12-16 12:09:25,896 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-16 12:09:25,907 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-16 12:09:25,908 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', None, 'Alenbi 99, Tel Aviv', '053-5556789', 'moshe@cohen.com')
2020-12-16 12:09:25,913 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-16 12:09:25,915 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', None, 'Alenbi 99, Tel Aviv', '052-1234565', 'lisa@cohen.com')
2020-12-16 12:09:25,918 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-16 12:09:25,920 INFO sqlalchemy.engine.base.Engine ('Nika', 'Rave', None, 'Green st, LA', '330-1234565', 'Nika@rave.com')
2020-12-16 12:09:25,922 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-16 12:09:25,922 INFO sqlalchemy.engine.base.Engine ('Lisa', 'White', None, 'Alenbi 66, Tel Aviv', '062-1234565', 'lisa@White.com')
2020-12-16 12:09:25,925 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
df = pd.read_sql('SELECT * FROM customers', conn)
df

2020-12-16 12:09:39,089 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM customers")
2020-12-16 12:09:39,090 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:39,092 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM customers")
2020-12-16 12:09:39,094 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:39,095 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers
2020-12-16 12:09:39,096 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com
3           4      Lisa  ...  062-1234565   lisa@White.com

[4 rows x 7 columns]

In [ ]:
# Добавим в таблицу колонку со значением кол-ва строк 
sql = """
SELECT 
    *, (select count() from customers) as kol
FROM customers 
"""
df = pd.read_sql(sql, conn)

df

2020-12-16 12:09:45,530 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    *, (select count() from customers) as kol
FROM customers
")
2020-12-16 12:09:45,536 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:45,538 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    *, (select count() from customers) as kol
FROM customers
")
2020-12-16 12:09:45,540 INFO sqlalchemy.engine.base.Engine ()
2020-12-16 12:09:45,541 INFO sqlalchemy.engine.base.Engine
SELECT
    *, (select count() from customers) as kol
FROM customers

2020-12-16 12:09:45,542 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName LastName  ...        Phone            Email kol
0           1     Moshe    Cohen  ...  053-5556789  moshe@cohen.com   4
1           2      Lisa    Cohen  ...  052-1234565   lisa@cohen.com   4
2           3      Nika     Rave  ...  330-1234565    Nika@rave.com   4
3           4      Lisa    White  ...  062-1234565   lisa@White.com   4

[4 rows x 8 columns]